@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Istok Web', sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling */
}

.App {
  text-align: center;
}

nav {
  background: #333;
  padding: 10px;
  position: fixed; /* Fix the header at the top */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 80px 20px; /* Adjust padding to account for the fixed header */
  min-height: 100vh;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}
